/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Responsive */
@media screen and (max-width: 600px) {
    table {
        overflow-x: auto;
        display: block;
    }
    
    th, td {
        white-space: nowrap;
    }
}
  /* Estilos para el formulario */
form {
	margin: 20px;
}
textarea {
	width: 100%;
	height: 150px; /* Altura inicial */
	padding: 10px;
	margin-bottom: 10px;
	resize: vertical; /* Permitir ajuste vertical */
}
button {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
}
button:hover {
	background-color: #0056b3;
}